<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hi, SBB</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <!-- 기본 템플릿 안에 삽입될 내용 -->
    <div layout:fragment="content" class="container my-3">
        <th:block layout:fragment="content"></th:block>
    </div>
    <!-- 기본 끝 -->
    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>